
<header class="bg-primary text-white fixed-top">
  <nav class="d-flex justify-content-between p-3 align-items-center text-center">   
    <a href='/'><i class="fa-solid fa-bars fs-1 text-white"></i></a>
    <h2 class="m-0 p-0">Categories</h2>
      <div class="d-flex  text-decoration-none">
    <% if user_signed_in? %>
      <h3><%= link_to "Sign Out", destroy_user_session_path, data: {
        turbo_method: :delete,
      } ,class:"m-0 p-0 text-decoration-none text-white" %></h3>
    <% else %>
      <h3><%= link_to "Sign In", new_user_session_path, class:"m-0 p-0 text-decoration-none text-white" %></h3>
    <% end %>
  </div>
  </nav> 
</header>
<div class='container text-center mt-5'>
      <%@groups.each do |group|%>
     <div class="d-flex flex-direction-row justify-content-between bg-white text-align-center align-content-center border border-grey p-1 m-1">
       <% if group.icon.present? %>
        <img src="<%= group.icon %>" alt="Category Icon", class= "img-fluid img-thumbnail w-25" />
      <% else %>
        <p>No Icon</p>
      <% end %>
        <div >
            <h3><%= link_to group.name, group_path(id:group.id), class:'text-decoration-none text-secondary' %></h3>
            <p class="text-secondary" ><%= group.created_at.strftime("%Y-%m-%d")%></p>
        </div>
         <div class="fw-bold" >
          $<%= group.entities.sum(:amount) %>
        </div>
 </div>
    <%end%>
    </div>
    <div class="d-flex flex-column fixed-bottom text-center bg-success w-100 p-3">
        <h2><%= link_to 'Add New Category', new_group_path, class:'text-decoration-none text-white border border-white p-2' %></h2>
    </div>


