<h1 class="field">Create new Category</h1>

<%= form_with model: @group, url: groups_path do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :icon %>
    <%= form.text_area :icon %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>