<header class="bg-primary text-white fixed-top">
  <nav class="d-flex justify-content-between p-3 align-items-center text-center">   
    <a href='/'><i class="fa-solid fa-arrow-left fs-1 text-white"></i></a>
    <h2 class="m-0 p-0"><%= @group.name %></h2>
      <div class="d-flex  text-decoration-none">
    <% if user_signed_in? %>
      <h3><%= link_to "Sign Out", destroy_user_session_path, data: {
        turbo_method: :delete,
      } ,class:"m-0 p-0 text-decoration-none text-white" %></h3>
    <% else %>
      <h3><%= link_to "Sign In", new_user_session_path, class:"m-0 p-0 text-decoration-none text-white" %></h3>
    <% end %>
  </div>
  </nav> 
</header>


<div class='d-flex flex-column text-center bg-white p-1 m-1'>
   
 <%@entities.each do |entity|%>
     <div class='justify-content-center  border border-gray m-1 border border-grey'> 
        <p class="text-secondary"><%= entity.name %></p>
        <p class="fw-bold">$<%= entity.amount %></p>
        <p class="text-secondary"><%= entity.created_at.strftime("%Y-%m-%d") %></p>
 </div>
    <%end%>
</div>
 <div class="d-flex flex-column fixed-bottom text-center bg-success w-100 p-3">
        <h2><%= link_to 'Add New Transaction', new_group_entity_path(group_id:@group.id), class:'text-decoration-none text-white border border-white p-2' %></h2>
    </div>